* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

/* -------- HEADER -------- */
header {
    position: fixed;
    z-index: 5;
    background-color: #e6d782;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 15vh;
    top: 0;
}

main {
    z-index: -1;
    margin-top: 15vh;
    height: 1000px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: #FCF0B6;
}


/* -------- MENUS DE NAVEGACION -------- */
.menu-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    height: 5vh;
    gap: 1vw;
}/* MENU PARA ESCRITORIO */

a {
    text-decoration: none;
} /* TODOS LOS ENLACES DEL MENU DE NAVEGACION PARA ESCRITORIO */
.menu-desktop a {
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;

    color: white;
}


/* -------------------- MENU HAMBUERGUESA ---------------- */
.hamburguesa {
    font-size: 20px;
    line-height: 19px;
    color: white;
    cursor: pointer;
}
.menu-mobile {
    display: none;
    height: 100vh;
    width: 100%;
    top: 75px;
    right: 0px;
    text-align: center;
    transition: all .5s;
    display: block;
    line-height: 30px;
} /* MENU PARA MOBILE */
.menu-mobile a {
    display: none;
    transition: all .5x;
    font-weight: 500;
    font-size: 40px;
    line-height: 80px;
    color: #242E52;
}
.menu-mobile a:hover {
    color: #F3603B;;
    transition: .3s;
    font-size: 60px;
}
#check:checked ~ .menu-mobile {
    height: 100vh;
    background-color: rgba(255, 255, 255, .95);
}
#check:checked ~ .menu-mobile a {
    display: block;
}
.menu-mobile:checked {
    display: block;
    height: 100vh;
    width: 100vw;
} /* MENU PARA MOBILE OPRIMIDO */
#check {
    display: none;
}



/* ---------------- BUTTON -------------------- */

.button-started button {
    display: flex;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    background: #F0E089;
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    border: none;
} /* BOTON STARTED DEL MENU DE NAVEGACION */
.button-started2 button {
    display: flex;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    background: #F0E089;
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    border: none;
} /* BOTON STARTED DE LA SECTION.HOME */ 
.button-started3 button {
    display: flex;
    width: 134px;
    height: 44px;
    border-radius: 50px;
    background: #F0E089;
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 20px;
} /* BOTON STARTED DE LA SECTION.WHATS-SAID */

.go {
    display: flex;
    width: 63px;
    height: 42px;
    border-radius: 50px;
    background: #F0E089;
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    border: none;
}

.send {
    display: flex;
    width: 30vw;
    height: 42px;
    border-radius: 50px;
    background: #F0E089;
    color: white;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 30px;
}

/* --------------- HOVER ------------- */

.button-started button:hover {
    cursor: pointer;
    background: #a1965b;
    box-shadow: 5px 10px 10px gray;
}
.button-started2 button:hover {
    cursor: pointer;
    background: #a1965b;
    box-shadow: 5px 5px 10px gray;
}
.button-started3 button:hover {
    cursor: pointer;
    background: #a1965b;
    box-shadow: 5px 5px 10px gray;
}
.go:hover {
    cursor: pointer;
    background: #a1965b;
    box-shadow: 0px 0px 5px #f46e4d87;
}

.send:hover {
    cursor: pointer;
    background: #a1965b;
    box-shadow: 0px 0px 5px #f46e4d87;
}

a:hover {
    cursor: pointer;
    font-size: 15px;
}

.menu-mobile2 a:hover {
    cursor: pointer;
    font-size: 15px;
    color: #F0E089;
}

#redes-sociales a:hover {
    font-size: 25px;
    color: #F0E089;
}

/* -------------------- SECTION FORM ------------------------ */

.illustrator-form {
    /* border: 3px solid #F3603B; */
    height: 75vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
}

div.illustrator {
    /* border: 3px solid #3bf35a; */
    width: 40vw;
    height: 75vh;
    background-image: url(../img/las_vegas/LogoLasVegas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.form {
    height: 100vh;
    width: 40vw;
}

.form form {
    height: 100vh;
    width: 40vw;
}

h1 {
    color: #030303;
    font-weight: 700;
    font-size: 50px;
    line-height: 66px;
    letter-spacing: -0.035em;
}

p {
    color: #030303;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    width: 24vw;
    margin-top:10px;
}

h2 {
    /* border: 3px solid #633bf3; */
    color: #030303;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.01em;
    /* margin-bottom: 10px; */
}

.div-uno {
    height: 18vh;
    width: 35vw;
    /* border: 3px solid #F3603B; */
}

.div-dos {
    /* border: 3px solid #633bf3; */
    height: 57vh;
    width: 35vw;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    align-items: center;
}


.div-dos input {
    width: 30vw;
    height: 69px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: none;
}



/* -------------------- FOOTER -------------------------- */

footer {
    background-color: #dbd19f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100vw;
    height: 247px;
}

.footer-content {
    width: 1102px;
    height: 141px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

/* DIV 1 */
div.logo-redes {
    height: 141px;
    align-items: flex-start;
}
article#logo {
    margin-bottom: 25px;
}
article#redes-sociales {
    margin-top: 75px;
}
#redes-sociales a {
    color: white;
    font-size: 40px;
    width: 100%;
    margin: 5px;
    gap: 20px;
}

/* DIV 2 */
.menu-footer {
    width: 392.73px;
    height: 141.14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 75px;
}
article#menu-uno {
    height: 141.14px;
    justify-content: space-around;
}
article#menu-dos {
    height: 141.14px;
    justify-content: space-between;
}
nav.menu-mobile2 a {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}


/* DIV 3 */
.email-go-copyright {
    align-items: flex-end;
}
#email-go {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#email-go input {
    width: 201px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
}

#copyright {
    display: flex;
    justify-content: flex-end;
}
article#copyright p {
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
    margin-top: 55px;
}

/* DIV 4 SOLO SE VE EN MOBILE */
.copyright-mobile {
    display: none;
}
.copyright-mobile {
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
    color: #8C8C94;
}




/* PROFE MI VIEWPORT DE DESKTOP ES DE 1536px */
/* MOBILE VIEWPORT 375px */
@media (max-width: 376px) {

    header {
        justify-content: space-around;
    }
    
    /* -------- MENUS DE NAVEGACION -------- */
    .menu-desktop {
        display: none;  
    }
    .menu-desktop a {
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
    }
    
    /* -------------------- MENU HAMBUERGUESA ---------------- */
    .hamburguesa {
        display: block;
    }
    .menu-mobile {
        position: fixed;
        display: block;
    }
    
    /* --------------------------------------------------------- */
    
    .menu-mobile a:hover {
        color: #F3603B;;
        transition: .3s;
        font-size: 60px;
    }
    #check:checked ~ .menu-mobile {
        height: 100vh;
        background-color: rgba(255, 255, 255, .95);
    }
    #check:checked ~ .menu-mobile a {
        display: block;
    }
    .menu-mobile:checked {
        display: block;
        height: 100vh;
        width: 100vw;
    } /* MENU PARA MOBILE OPRIMIDO */
    #check {
        display: none;
    }
    
    /* ------------------------- BOTONES ------------------------------ */
    .button-started button {
        display: none;
    }

    /* ------------------- SECTION FORM ---------------------- */

    .illustrator-form {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    

    .div-uno {
        width: 80vw;
    }
    
    .div-dos {
        height: 100vh;
        width: 80vw;
    }
    
    .div-dos input {
        width: 80vw;
    }

    p {
        width: 80vw;
    }

    .illustrator {
        border: #F3603B solid 3px;
        width: 100vw;
        height: 50vh;
        background-size: 50%;
    }
    
    .form {
        width: 80vw;
    }
    
    .form form {
        height: 100vh;
        width: 80vw;
    }

    .send {
        width: 80vw;
    }

    /* -------- FOOTER -------- */
    footer {
        flex-direction: column;
        gap: 0vw;
        height: 350px;
    }

    .footer-content {
        width: 99vw;
        height: 350px;
        justify-content: space-around;
        display: flex;
        flex-direction: column-reverse;
    }

    /* DIV 1 */
    div.logo-redes {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column-reverse;
    }
    article#logo2 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    article#redes-sociales {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    /* DIV 2 */
    .menu-footer {
        width: 370px;
        height: 100px;
        justify-content: space-around;
        gap: 30px;
    }

    .menu-mobile2 {
        margin-top: 20px;
        margin-bottom: 0px;
        height: 100px;
    }


    /* DIV 3 */
    .email-go-copyright {
        align-items: center;
    }
    #email-go {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    #copyright {
        display: none;
    }

    /* DIV 4 SOLO SE VE EN MOBILE */
    .copyright-mobile {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}